# Virtual environments
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# JetBrains IDEs (PyCharm, IntelliJ, etc.)
.idea/

# Dados gerados automaticamente
data/*.csv
